@media screen and (max-width: 768px) {

  header {
    padding: 20px;
  }

  .galleryController {
    display: none;
  }

  .galleryContainer {
    height: initial;
    width: 100vw;
  }

  /* .galleryContainer>ul {
    display: flex;
    flex-direction: row;
    padding: 40px 20px;
    overflow-x: scroll;
    overflow-y: visible;
    padding-bottom: 20px;
    margin: auto -20px;
  } */

  .galleryContainer>ul.loading {
    height: 45px;
    width: 50vw;
    /* box-sizing: border-box; */
  }



  .galleryContainer>ul li>button:hover {
    box-shadow: initial;
  }

  .galleryContainer>ul li>button.selected {
    box-shadow: 0 5px 10px #0005;

  }

  .galleryContainer>ul li>button>img {
    width: 80px;
    height: 45px;
    object-fit: cover;
  }

  .galleryContainer>ul li+li {
    margin-left: 10px;
  }

  .galleryContainer>ul li {
    position: relative;
    overflow: visible;
    display: flex;
  }

  .galleryContainer>ul li .tooltip {
    all: unset;
    display: none;
  }

  .galleryContainer>ul li .tooltip .content {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    font-size: .8rem;
    display: flex;
    max-width: 80%;
    /* background: #000c; */
    color: white;
    text-align: center;
  }

  .galleryContainer>ul li .tooltip .shape {
    /* background: red; */
    position: absolute;
    top: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000c;
  }

  .galleryContainer>ul li:hover .tooltip {
    opacity: 1;
  }

  .galleryMainImg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .imgWrapper {
    width: 100%;
    /* height: 200%; */
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-out;
  }

  .fit-contain {
    height: 100%;
    width: 100%;
  }

  .imgContainer {
    display: flex;
    position: relative;
    width: 100vw;
    height: 56.25vw;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background: white;
  }

  .toolBar {
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0;
    transition: opacity .5 ease-in-out;
  }

  .toolBar>button {
    all: unset;
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    transition: background .5s ease-in-out;
    border-radius: 5px;
    color: #999
  }

  .toolBar>.pagination {
    display: flex;
    font-size: 1rem;
    height: 30px;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    color: #999;
  }


  .toolBar>button:hover {
    background: #eee;
    cursor: pointer;
  }

  figure.imgViewer {
    margin: 0;
    position: relative;
    overflow-y: hidden;
    transition: box-shadow .5s ease-out;
  }

  figure.imgViewer>figcaption {
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    backdrop-filter: blur(10px);
    position: relative;
    /* bottom: 0; */
    /* width: 100%; */
    max-width: 100vw;
    color: #333;
    opacity: 1;
    transition: all .5s ease-in-out;
    /* font-weight: bold; */
  }

  figure.imgViewer h1 {
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: .5rem 0;
    line-height: 1.6rem;

  }

  figure.imgViewer h2 {
    font-size: 1rem;
    opacity: .5;
    margin: 0;
    line-height: 1.2rem;
  }

  figure.imgViewer h2 a,
  figure.imgViewer h2 a:visited {
    color: #000;
  }


  .imgViewer:hover {
    cursor: pointer;
    box-shadow: 0px 5px 10px #0005;
  }

  .imgViewer:hover>figcaption {
    /* bottom: 0; */
    opacity: 1;
  }

  .imgViewer:hover .toolBar {
    opacity: 1;
  }

  .imgViewer.loading .imgContainer {
    background: #ccc;
  }
}